<configuration>
  <packageSources>

    <!-- dotnet pack ..\XamlLanguageConverter\XamlLanguageConverter\XamlLanguageConverter.vbproj -->
    <add key="XamlLangConvDbg1" value="..\XamlLanguageConverter\XamlLanguageConverter\bin\Debug" />

    <!-- dotnet pack ..\XamlLanguageConverter\XamlLanguageConverter\XamlLanguageConverter.WinUI3.vbproj -->
    <add key="XamlLangConvDbg2" value="..\XamlLanguageConverter\XamlLanguageConverter.WinUI3\bin\Debug" />

  </packageSources>
  
</configuration>
